

# PyBuilder
.pybuilder/
target/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers IDE PyCharm
.idea/
*.iml

# Données Docker locales
mysql_data/
minio_data/

# Base de données SQLite (tests locaux)
*.db
*.sqlite

# Fichiers de couverture de tests
.coverage
htmlcov/